  <div id="servicios" class="section">
    <label class="title">SERVICIOS</label>
    
    <!-- LEFT -->
    <div class="services left first">
      <div class="image_bkg">
        <div class="galleria image">
          <%= image_tag ('services/image1.jpg'), :alt=>'Aquí va lo que es la foto 1', :title=>'Título foto 1'%>
          <%= image_tag ('services/image2.jpg'), :alt=>'Aquí va lo que es la foto 2', :title=>'Título foto 2'%>              
        </div> <!-- image -->
      </div> <!-- image_bkg -->
      <div class="info">
        <label>Montaje de visores</label>
        <p>Al disponer de todo tipo de monturas podemos montar cualquier visor, garantizándole una perfecta puesta en tiro.</p>
      </div> <!-- info -->
    </div> <!-- services --> 
    
    <!-- RIGHT -->
    <div class="services right">
      <div class="image_bkg">
        <div class="image">
          <!-- AQUÍ IRÁN LAS IMÁGENES -->
        </div> <!-- image -->
      </div> <!-- image_bkg -->
      <div class="info">
        <label>Puestas en tiro</label>
        <p>Las realizamos con fuego real en campo de tiro abierto disponiendo de hasta 250 m. de distancia.</p>
      </div> <!-- info -->
    </div> <!-- services --> 
    
    <!-- LEFT -->
    <div class="services left">
      <div class="image_bkg">
        <div class="image">
          <!-- AQUÍ IRÁN LAS IMÁGENES -->
        </div> <!-- image -->
      </div> <!-- image_bkg -->
      <div class="info">
        <label>Diseño y transformación de armas</label>
        <ul>
          <li><p>- Diseñamos y transformamos culatas.</p></li>
          <li><p>- Realizamos todo tipo de grabados en el acero.</p></li>
          <li><p>- Sistemas de punto y alza.</p></li>
          <li><p>- Chapas con sus iniciales.</p></li>
          <li><p>- Remates en el pistolet con grabados de caza.</p></li>
        </ul>            
      </div> <!-- info -->
    </div> <!-- services -->
      <!-- RIGHT -->
      <div class="services right">
        <div class="image_bkg">
          <div class="image">
            <!-- AQUÍ IRÁN LAS IMÁGENES -->
          </div> <!-- image -->
        </div> <!-- image_bkg -->
        <div class="info">
          <label>Restauración de cualquier arma</label>
          <p>Para no dañar el arma, pulimos a mano, tanto maderas como acero para apomazar, satinar, barnizar o dejar sus culatas al aceite, quitando y haciendo picados nuevos.</p>
        </div> <!-- info -->
        <a class="more_info">más información</a>          
      </div> <!-- services -->        
      
    </div>  <!-- servicios section -->