body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal;}
img,fieldset{border:none; padding:0; margin:0;}
ul,li {list-style:none;}
body{font:13px Arial, Helvetica,serif; color:#000000; background-color:#E7E1C8; background:url('/images/bkg_repeated.jpg');}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a{text-decoration:none;}
a:focus{outline:none;}
ul:focus {outline:none;}
input:focus{outline:none}

div#outer_layout{margin:0 auto; width:100%; }
div#layout {width:1080px; margin:0 auto; padding:50px 30px; background:url('/images/hind_corner.png') no-repeat top right; min-height:265px;}

div#menu div.content_scrollable {position:fixed; top:58px;}
div#menu {float:left; width:159px; height:100%; margin:12px 0 0; position:relative;}
div#menu img.logo {float:left; width:126px; height:121px;}
div#menu ul {position:absolute; top:175px; left:0; }
div#menu ul li {float:left; width:100%; margin:15px 0 0 0;}
div#menu ul li a {font:normal 32px "LeagueGothicRegular"; text-transform:uppercase; color:#303300; line-height:30px;}
div#menu ul li a:hover {color:#7D8A05; cursor:pointer;}
div#menu ul li a.selected {color:#7D8A05;}

div#content {width:890px; float:right;}
div#title {height:200px;}
h1 {float:right; font:normal 73px "AWConquerorCarvedRegular"; color:#303300; width:100%; height:auto; margin:0; text-align:right; line-height:65px;}
h1 span.lower {font-size:60px; vertical-align:top;}
h3 {float:right; margin:12px 0 0; font:normal 21px "AWConquerorDidotLight"; width:100%; text-align:right; color:#515225;}
p.info {float:left; width:100%; font:normal 19px "AWConquerorSansLight"; color:#000000; letter-spacing:-1.0px;}

div#content label.title {float:left; width:100%; color:#303300; border-bottom:1px solid #303300; font:normal 32px "LeagueGothicRegular"; text-transform:uppercase; margin:50px 0 0 0;}
div.section {float:left; width:100%;}
div.section h5 {float:left; font:normal 21px "AWConquerorSansLight"; color:white; width:847px; margin:27px 27px 0;}
div.section_content {margin:40px 0 0 0;}

/*MARCAS QUE REPARAMOS - SECTION*/
div#marcas_reparamos div.logos {float:left; width:891px; height:810px; background:url('/images/bkg_logos_20.png') no-repeat 0 0; position:relative;}
div#marcas_reparamos div.logos a.message {position:absolute; bottom:77px; right:38px; font:normal 18px "AWConquerorSansLight"; color:#FEA600; text-transform:uppercase; text-align:center; width:130px;}
div#marcas_reparamos div.logos a.message:hover {text-decoration:underline;}
div#marcas_reparamos div.logos ul {float:left; margin:10px 0 0 23px; width:845px; height:auto;}
div#marcas_reparamos div.logos ul li {float:left; width:157px; height:165px; background:url('/images/bkg_logo.png') no-repeat 0 0; margin:15px 15px 0 0;}
div#marcas_reparamos div.logos ul li.first {margin:15px 15px 0 100px;}
div#marcas_reparamos div.logos ul li.last {margin:15px 0 0;}
div#marcas_reparamos div.logos ul li a {float:left; width:117px; height:118px; margin:17px 19px 0;}
div#marcas_reparamos div.logos ul li p {font:normal 14px "AWConquerorSansLight"; color:#000000; margin:3px 0 0 0; text-align:center;}
div#marcas_reparamos div.logos ul li a.arrieta {background:url('/images/logos/arrieta_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.arrizabalga {background:url('/images/logos/arrizabalga_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.benelli {background:url('/images/logos/benelli_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.beretta {background:url('/images/logos/beretta_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.blaser {background:url('/images/logos/blaser_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.browning {background:url('/images/logos/browning_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.fabarm {background:url('/images/logos/fabarm_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.franchi {background:url('/images/logos/franchi_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.garbi {background:url('/images/logos/garbi_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.grulla {background:url('/images/logos/grulla_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.holland {background:url('/images/logos/holland_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.krieghoff {background:url('/images/logos/krieghoff_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.mannlicher {background:url('/images/logos/mannlicher_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.purdey {background:url('/images/logos/purdey_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.remington {background:url('/images/logos/remington_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.sako {background:url('/images/logos/sako_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.sarasqueta {background:url('/images/logos/sarasqueta_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.sauer {background:url('/images/logos/sauer_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a.winchester {background:url('/images/logos/winchester_logo.png') no-repeat 0 0;}
div#marcas_reparamos div.logos ul li a:hover {background-position:0 -118px; cursor:pointer;}

/*GALLERY IMAGES - SECTION*/
div.services {float:left; width:891px; height:296px; background:url('/images/bkg_image_gallery.png') no-repeat 0 0; position:relative; margin:200px 0 0 0;}
div.services.first {margin:110px 0 0 0;}
div.services div.image_bkg {position:absolute; width:595px; height:470px; background:url('/images/bkg_image_service.png') no-repeat; top:-75px;}
div.services div.image_bkg div.image {float:left; width:519px; height:385px; background-color:red; margin:36px 0 0 46px;}
div.services div.info {position:absolute; width:250px; height:auto; top:20px;}

div.services.left div.image_bkg {left:20px;}
div.services.left div.info {right:24px;}
div.services.left a.more_info {right:24px;}
div.services.right div.image_bkg {right:20px;}
div.services.right div.info { left:24px;}
div.services.right a.more_info {left:24px;}

div.services label {font:normal 21px "AWConquerorSansLight"; color:white; width:250px; border:none;}
div.services p {float:left; font:normal 15px "AWConquerorSansLight"; color:white; width:240px; margin:20px 0 0 0;}
div.services ul {float:left; width:240px; height:auto; margin:15px 0 0 0;}
div.services ul li {float:left; margin:5px 0 0 0; }
div.services ul li p {margin:0;}
div.services a.more_info {position:absolute; bottom:24px; font:normal 15px "AWConquerorSansLight"; color:#FEA500; width:250px; margin:15px 0 0 0; }
div.services a.more_info:hover {text-decoration:underline; cursor:pointer;}

div.specialists {margin:50px 0 0 0;}
div.specialists .box {margin:30px 0 0 0;}
div.specialists div.single {float:left; width:432px; height:70px; background:url('/images/bkg_specialists_single.png') no-repeat;}
div.specialists div.multiple {float:right; width:436px; height:178px; background:url('/images/bkg_specialists_multiple.png') no-repeat;}
div.specialists p {font:normal 21px "AWConquerorSansLight"; color:white; width:400px; border:none; margin:21px 0 0 27px;}
div.specialists div.multiple ul {float:left; width:400px; margin:5px 0 0 36px;}
div.specialists div.multiple ul li {float:left; margin:3px 0 0 0; width:100%;}
div.specialists div.multiple ul li p {margin:0; font-size:15px;}
div.specialists p.info {float:left; width:381px; font:normal 19px "AWConquerorSansLight"; color:#000000; line-height:21px;}

div.location_box {float:left; width:891px; height:auto; margin:30px 0 0 0;}
div.location_box span.top {float:left; width:891px; height:21px; background:url('/images/top_bkg_map.png') no-repeat 0 0;}
div.location_box div.content {float:left; width:869px; height:auto; background-color:white; margin:0; padding:0 0 0 22px;}
div.location_box div.content div#map {width:846px; height:330px; margin:0 0 0 22px;}
div.location_box div.content label.street {float:left; margin:5px 0 0 0; width:670px; font:normal 29px "AWConquerorDidotLight";}
div.location_box div.content p.address {float:left; width:860px; font:normal 15px "Geneva"; color:#000000;}
div.location_box span.bottom {float:left; width:891px; height:21px; background:url('/images/bottom_bkg_map.png') no-repeat 0 0;}

