@mixin banner-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.banner-items {
  $banner-items-background: $base-background-color;
  $banner-item-background: darken(desaturate($sepia-color, 30),60);
  $banner-item-border-size: 9px;
  $banner-item-columns: 4;
  $banner-item-big-columns: 8;
  $banner-item-color: white;
  $banner-item-height: 14em;

  @include clearfix;

  margin-bottom: 20px;

  .banner-item {
    @include transition (all 0.2s ease-in-out);
    min-height: $banner-item-height;
    background: $banner-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-top: 0;
    border-bottom: $banner-item-border-size solid $banner-items-background;
    border-left: $banner-item-border-size /2 solid $banner-items-background;
    border-right: $banner-item-border-size /2 solid $banner-items-background;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include banner-item-columns($banner-item-columns);
    }

    &:hover {
      background-color: darken($banner-item-background, 10);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }

  .banner-item img {
      display: block;
      margin: auto;
      margin-bottom: 1em;
      float: none;

      @include media($small-screen) {
        width: 132px;
        height: 132px;
      }

      @include media($medium-screen) {
        width: 152px;
        height: 152px;
        float: right;
      }

      @include media($large-screen) {
        width: 162px;
        height: 162px;
      }

      margin-top: -5px;
    }

  .banner-item h1 {
      color: $banner-item-color;
      font-size: 2em;

      @include media($medium-screen) {
        margin: 1.2em 0 .3em;
      }
    }

  .banner-item p {
      margin: auto;
      color: transparentize($banner-item-color, .3);
    }

  .banner-item-big {
    width: 100%;
  }

  .banner-item-image {
    background: url(/assets/images/escopetas/modelo-803-arrieta.png);
    background-color: $banner-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
