<h2>Contacto</h2>

<hr>

<div id="localizacion" class="section location">
  <label class="title">LOCALIZACIÓN Y CONTACTO</label>
  <div class="location_box">
     <span class="top"></span>
     <div class="content">
       <div id="map"></div>
       <div class="left">
         <a class="street">Calle Nuñez de Balboa, 92. Local Derecho.</a>
         <p class="address first">28006 - Madrid - España</p>
         <p class="address">Móvil. 669788888 - Tel. 915761547</p>
         <p>Aparcamiento gratuito para clientes en Calle Castello, 98</p>
       </div>
       <div class="right">
         <a class="mailto" href="mailto:joseviaji@gmail.com">escríbenos</a>
       </div>
     </div>
     <span class="bottom"></span>
  </div>
</div>
