<h2>Contacto</h2>

<hr>

<div class="section contact">
  <div class="location_box">
     <span class="top"></span>
     <div class="content">
       <div id="map"></div>
       <div class="left-content">
         <h4>Calle Nuñez de Balboa, 92. Local Derecho.</h4>
         <h6>28006 - Madrid - España</h6>
         <h6>Tel. 915761547. Móvil. 669788888</h6>
         <h6></h6>
         <p>Aparcamiento gratuito para clientes en Calle Castello, 98</p>
       </div>
       <div class="right-content">
         <a class="mailto" href="mailto:joseviaji@gmail.com">Escríbenos</a>
       </div>
     </div>
     <span class="bottom"></span>
  </div>
</div>
