<h1>Sobre nosotros</h1>

<hr>

<p>José Viaji y Daniel Viaji son unos armeros madrileños de tradición.</p>

<p><b>José Viaji</b> es la 3ª generación de armeros de la familia. Hijo del armero <b>Francisco Viaji</b>, cuyo taller se encontraba en el castizo barrio de la Latina y desde donde daba servicio a sus propios clientes, además de servicio técnico a varias importantes armerías madrileñas, como eran: Villanueva, El Águila, Azurmendi...</p>

<p>José empezó con solo 14 años,  y lo hizo desde abajo, como aprendiz en el taller. A la vez lo fué compaginando con distintios estudios, como los de oficialía industrial.</p>

<p>Con los años el taller paso a formar parte de la famosa armería <b>Diana Turba</b>, donde padre e hijo vivieron los que hasta ahora han sido los mejores tiempos de la armería española. Durante aquellos años los armeros Viaji se convirtieron en “armeros oficiales” de prestigiosas marcas como Beretta, Sake, Remington, Franchi y otras marcas.</p>

<p>Fué una época de enriquecimiento professional, donde aquirieron los mejores conocimientos de muchas armas artesanales de las mejores marcas. Además conincidió con la época en la que llegaban de manera importante escopetas y rifles semiautomáticos.</p>

<p>Con el cierre de la armería Diana Turba, junto con empleados de la misma y clientes deciden montar una de las armerías más grandes de Europa, <b>Armería Diana</b>.</p>

<p>Ese es el momento en el que se incorpora al taller Daniel, el que vendría siendo la 4ª generación de armeros de la familia.</p>

<p><b>Daniel</b> comenzó a trabajar con su tío José hace ya más de 20 años, un tiempo en el que además de formarse en el oficio, ha dado buena muestra de su calidad como armero.</p>

<p>Ahora juntos han comenzado este nuevo proyecto, un taller propio donde seguiran reparando todo tipo de armas de caza y restaurando las armas de una manera siempre “en original” para que nunca pierdan su valor. Además de fabricar y personalizar armas extraordinarias.</p>

<p>Les invitamos a que pasen a conocer sus nuevas instalaciones y conozcan su trabajo de primera mano.</p>


<section class="centered">
  <img src="/assets/images/about/barca.png" alt="Ilustración de Barca" />
  <blockquote class="left">
    <p>Pepe, además de armero, lleva a la práctica sus conocimientos, y a poco que se tercie, se trepa a los Pirineos o se zambulle en los Montes de Toledo con el rifle, la escopeta o la máquina de fotos.</p>
    <cite>Texto extraído de la revista "Trofeo, caza y conservación" número 454. Marzo 2008. <a class="image-popup-no-margins" href="/assets/images/about/revista_TrofeoyCaza.jpg">
      ¿Quieres leer el artículo completo?
    </a></cite>
  </blockquote>
</section>
