div#map {
  height:500px;
  width:100%;
  margin-bottom: 20px;

  img {
    max-width: none;
  }
}

#title_infowindow {
  width: 140px;
}

.contact {
  display: inline-block;
  padding-bottom: 40px;
  width: 100%;

  .left-content {
    @include span-columns(8);
  }

  .right-content {
    @include span-columns(4);

    a {
      float: right;
    }
  }

  p {
    margin-top: 15px;
  }
}
