$sepia-color: #E5DFC5;
$navigation-background: darken($sepia-color, 30);
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$deer-green-color: #12602C;

$base-background-color: white;
