.popup-gallery {
  text-align: center;
  float: left;
  width: 100%;
  padding: 20px 0;

  .image-gallery {
    @media screen and (max-width: 540px) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($small-screen) {
      display: inline-block;
    }

    @include media($large-screen) {
      @include span-columns(1);
      @include omega(8n);
    }
  }
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}
