@import "home/banner";

.hero {
  $hero-background-top: $navigation-background;
  $hero-background-bottom: darken($hero-background-top, 60);
  $hero-color: white;
  $gradient-angle: 10deg;
  @include background(url(/assets/images/home/taller.png), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;

  .hero-logo img {
    height: 10em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    /* padding: 3em; */
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 2.2em;
        margin-bottom: .2em;

        @include media($large-screen) {
          font-size: 3.8em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
        }
      }
    }
  }
}

.cards {
  margin-top: 20px;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;

  @include transition (all 0.2s ease-in-out);
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-line-height;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;

  display: inline-block;
  max-width: 120px;

  @media screen and (max-width: 407px) {
    @include span-columns(1 of 2);
    margin-right: 0;
  }

  @include media($large-screen) {
    @include span-columns(1);
    @include omega(8n);
  }
  .card-image {
    overflow: hidden;
    max-height: 118px;

    img {
      width: 118px;
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }
}
