@import "normalize";
@import "defaults";
@import "lib/harp-bourbon/scss/bourbon";
@import "lib/harp-neat/scss/neat";
@import "lib/harp-bitters/scss/bitters";
@import "home";
@import "contact";
@import "gallery";
@import "nav";
@import "footer";

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.container {
  padding: 20px;
  @include outer-container;
}
