<div id="menu">
    <%= link_to( image_tag("logo.png", :alt => 'Logo taller y reparación de armas'), '/') %>    
    
    <ul>
       <li><a href="#">MARCAS QUE REPARAMOS</a></li>
       <li><a href="#">SERVICIOS</a></li>
       <li><a href="#">ESPECIALISTAS</a></li>
       <li><a href="#">LOCALIZACIÓN Y CONTACTO</a></li>                     
    </ul>
</div>
<div id="content">
   
   <div id="title">
      <h1>TALLER Y REPARACIÓN <span class="lower">DE ARMAS</span> JOSÉ VIAJI</h1>
      <h3>Una tradición de armeros de más de 100 años nos avalan</h3>
   </div>
   
   <p>Al realizar todos nuestros trabajos en nuestro taller y bajo el control directo de <b>José Viaji</b>, le garantizamos un servicio rápido y de calidad.</p>
   
   <label>MARCAS QUE REPARAMOS </label>
</div>