<div id="menu">
  <div class="content_scrollable">
    <%= link_to( image_tag("logo.png", :alt => 'Logo taller y reparación de armas'), '/') %>
    <ul>
       <li><a onclick="javascript:void $.scrollTo('div#marcas_reparamos',400)">MARCAS QUE REPARAMOS</a></li>
       <li><a onclick="javascript:void $.scrollTo('div#servicios',400)">SERVICIOS</a></li>
       <li><a onclick="javascript:void $.scrollTo('div#especialistas',400)">ESPECIALISTAS</a></li>
       <li><a onclick="javascript:void $.scrollTo('div#localizacion',400)">LOCALIZACIÓN Y CONTACTO</a></li>                     
    </ul>
  </div>
</div>

<div id="content">
   <div id="title">
      <h1>TALLER DE REPARACIÓN <span class="lower">DE ARMAS</span> JOSÉ VIAJI</h1>
      <h3>Una tradición de armeros de más de 100 años nos avalan</h3>
   </div> <!-- title -->
   
   <p class="info">Al realizar todos nuestros trabajos en nuestro taller y bajo el control directo de <a onclick="javascript:void $.scrollTo('div#ilustracion',400)">José Viaji</a>, le garantizamos un servicio rápido y de calidad.</p>
   <div id="marcas_reparamos" class="section">
     <label class="title">MARCAS QUE REPARAMOS</label>
     <div class="section_content logos">
       
       <h5>Reparación, restauración en original y mantenimiento de las marcas más prestigiosas</h5>
        <ul>
          <!-- First row -->
          <li>
            <a class="arrieta"></a>
            <p>Arrieta</p>
          </li>
          <li>
            <a class="arrizabalga"></a>
            <p>Arrizabalga</p>
          </li>
          
          <li>
            <a class="benelli"></a>
            <p>Benelli</p>
          </li>
          <li>
            <a class="beretta"></a>
            <p>Beretta</p>
          </li>
          <li class="last">
            <a class="blaser"></a>
            <p>Blaser</p>
          </li>
          <!-- Second row -->
          <li>
            <a class="browning"></a>
            <p>Browning</p>
          </li>

          <li>
            <a class="fabarm"></a>
            <p>Fabarm</p>
          </li>
          <li>
            <a class="franchi"></a>
            <p>Franchi</p>
          </li>
          <li>
            <a class="garbi"></a>
            <p>Garbi</p>
          </li>
          <li class="last">
            <a class="grulla"></a>
            <p>Grulla</p>
          </li>
          <!-- Third row -->          
          <li>
            <a class="holland"></a>
            <p>Holland</p>
          </li>
          <li>
            <a class="krieghoff"></a>
            <p>Krieghoff</p>
          </li>
          <li>
            <a class="mannlicher"></a>
            <p>Mannlicher</p>
          </li>
          <li>
            <a class="purdey"></a>
            <p>Purdey</p>
          </li>
          <li  class="last">
            <a class="remington"></a>
            <p>Remington</p>
          </li>
          <!-- Fourth row -->    
          <li>
            <a class="sako"></a>
            <p>Sako</p>
          </li>
          <li>
            <a class="sarasqueta"></a>
            <p>Sarasqueta</p>
          </li>
          <li>
            <a class="sauer"></a>
            <p>Sauer</p>
          </li>
          <li class="last">
            <a class="winchester"></a>
            <p>Winchester</p>
          </li>          
        </ul>
        <a onclick="javascript:void $.scrollTo('div#localizacion',400)" class="message">Consulta otras marcas</a>  
     </div> <!-- section_content logos -->
   </div> <!-- marcas_reparamos -->
      
      <div id="servicios" class="section">
        <label class="title">SERVICIOS</label>
        
        <!-- LEFT -->
        <div class="services left first">
          <div class="image_bkg">
            <div class="galleria image">
              <%= image_tag ('services/image1.jpg'), :alt=>'alt', :title=>'Title'%>
              <%= image_tag ('services/image2.jpg'), :alt=>'alt', :title=>'Title'%>              
            </div> <!-- image -->
          </div> <!-- image_bkg -->
          <div class="info">
            <label>Montaje de visores</label>
            <p>Al disponer de todo tipo de monturas podemos montar cualquier visor, garantizándole una perfecta puesta en tiro.</p>
          </div> <!-- info -->
        </div> <!-- services --> 
        
        <!-- RIGHT -->
        <div class="services right">
          <div class="image_bkg">
            <div class="image">
              <!-- AQUÍ IRÁN LAS IMÁGENES -->
            </div> <!-- image -->
          </div> <!-- image_bkg -->
          <div class="info">
            <label>Puestas en tiro</label>
            <p>Las realizamos con fuego real en campo de tiro abierto disponiendo de hasta 250 m. de distancia.</p>
          </div> <!-- info -->
        </div> <!-- services --> 
        
        <!-- LEFT -->
        <div class="services left">
          <div class="image_bkg">
            <div class="image">
              <!-- AQUÍ IRÁN LAS IMÁGENES -->
            </div> <!-- image -->
          </div> <!-- image_bkg -->
          <div class="info">
            <label>Diseño y transformación de armas</label>
            <ul>
              <li><p>- Diseñamos y transformamos culatas.</p></li>
              <li><p>- Realizamos todo tipo de grabados en el acero.</p></li>
              <li><p>- Sistemas de punto y alza.</p></li>
              <li><p>- Chapas con sus iniciales.</p></li>
              <li><p>- Remates en el pistolet con grabados de caza.</p></li>
            </ul>            
          </div> <!-- info -->
        </div> <!-- services --> 
        
        <!-- RIGHT -->
        <div class="services right">
          <div class="image_bkg">
            <div class="image">
              <!-- AQUÍ IRÁN LAS IMÁGENES -->
            </div> <!-- image -->
          </div> <!-- image_bkg -->
          <div class="info">
            <label>Restauración de cualquier arma</label>
            <p>Para no dañar el arma, pulimos a mano, tanto maderas como acero para apomazar, satinar, barnizar o dejar sus culatas al aceite, quitando y haciendo picados nuevos.</p>
          </div> <!-- info -->
          <a class="more_info">más información</a>          
        </div> <!-- services -->        
        
      </div>  <!-- servicios section -->
      
      <!-- ESPECIALISTAS SECTION -->
      <div id="especialistas" class="section specialists">
        <label class="title">ESPECIALISTAS</label>

        <div class="single box">
          <p>Regulación de gatillos y disparadores</p>
        </div>
        <div class="multiple box">
          <p>Poner armas a medida del cazador</p>  
          <ul>
            <li><p>- Curvaturas en la culata</p>
            <li><p>- Ventaja lateral en la culata</p>
            <li><p>- Pich</p>
            <li><p>- Largo de culata</p>
            <li><p>- Cantoneras de goma</p>
          </ul>
        </div>
        <p class="info">Y lo más importante, siempre en nuestras propias instalaciones.</p>
      </div>
      
      <!-- ESPECIALISTAS SECTION -->
      <div id="localizacion" class="section location">
        <label class="title">LOCALIZACIÓN Y CONTACTO</label>
        <div class="location_box">
            <span class="top"></span>
            <div class="content">
              <div id="map"></div>
              <a class="street">Calle Juan Bravo,  42</a>
              <a class="mailto" href="mailto:ra.barroso@gmail.com">escríbenos</a>
              <p class="address first">28006 - Madrid - España</p>
              <p class="address">Tel. 914354013 - Fax. 915769573</p>               
            </div>
            <span class="bottom"></span>
        </div>
        
        <div id="ilustracion" class="ilustracion">
          <div class="text">
              <span class="open quote"></span>
              <p class="cita">Pepe, además de armero, lleva a la práctica sus conocimientos, y a poco que se tercie, se trepa a los Pirineos o se zambulle en los Montes de Toledo con el rifle, la escopeta o la máquina de fotos.</p>
              <span class="close quote"></span>
          </div>
          <div class="info_cita">

            <p id="info">Texto extraído de la revista <b>"Trofeo, caza y conservación"</b> número 454. Marzo 2008. <a href="images/revista_TrofeoyCaza.jpg" class="view_complete">¿Quieres leer el artículo completo?</a></p>
          </div>
          <p class="note">ilustración de Barca</p>
          
          <%= image_tag ('ilustracion_barca.jpg'), :alt=> "Ilustración de Barca a José Viaji", :title=>"Ilustración de Barca a José Viaji", :class=>'barca' %>
        </div>
      
        <div class="bottom_sign">
          <p>web diseñada y desarrollada por <a href="http://es.linkedin.com/in/raulbarroso" target="_blank">Raúl Barroso</a></p>
        </div>
</div>