<div id="menu">
  <div class="content_scrollable">
    <%= link_to( image_tag("logo.png", :alt => 'Logo taller y reparación de armas'), '/') %>
    <ul>
       <li><a onclick="javascript:void $.scrollTo('div#marcas_reparamos',400)">MARCAS QUE REPARAMOS</a></li>
       <li><a href="#">SERVICIOS</a></li>
       <li><a href="#">ESPECIALISTAS</a></li>
       <li><a href="#">LOCALIZACIÓN Y CONTACTO</a></li>                     
    </ul>
  </div>
</div>

<div id="content">
   <div id="title">
      <h1>TALLER Y REPARACIÓN <span class="lower">DE ARMAS</span> JOSÉ VIAJI</h1>
      <h3>Una tradición de armeros de más de 100 años nos avalan</h3>
   </div>
   
   <p>Al realizar todos nuestros trabajos en nuestro taller y bajo el control directo de <b>José Viaji</b>, le garantizamos un servicio rápido y de calidad.</p>
   <div id="marcas_reparamos" class="section">
     <label>MARCAS QUE REPARAMOS</label>
     <div class="section_content logos">
       
       <h5>Reparación, restauración en original y mantenimiento de las marcas más prestigiosas</h5>
        <ul>
          <!-- First row -->
          <li>
            <a class="arrieta"></a>
            <p>Arrieta</p>
          </li>
          <li>
            <a class="arrizabalga"></a>
            <p>Arrizabalga</p>
          </li>
          
          <li>
            <a class="benelli"></a>
            <p>Benelli</p>
          </li>
          <li>
            <a class="beretta"></a>
            <p>Beretta</p>
          </li>
          <li class="last">
            <a class="blaser"></a>
            <p>Blaser</p>
          </li>
          <!-- Second row -->
          <li>
            <a class="browning"></a>
            <p>Browning</p>
          </li>

          <li>
            <a class="fabarm"></a>
            <p>Fabarm</p>
          </li>
          <li>
            <a class="franchi"></a>
            <p>Franchi</p>
          </li>
          <li>
            <a class="garbi"></a>
            <p>Garbi</p>
          </li>
          <li class="last">
            <a class="grulla"></a>
            <p>Grulla</p>
          </li>
          <!-- Third row -->          
          <li>
            <a class="holland"></a>
            <p>Holland</p>
          </li>
          <li>
            <a class="krieghoff"></a>
            <p>Krieghoff</p>
          </li>
          <li>
            <a class="mannlicher"></a>
            <p>Mannlicher</p>
          </li>
          <li>
            <a class="purdey"></a>
            <p>Purdey</p>
          </li>
          <li  class="last">
            <a class="remington"></a>
            <p>Remington</p>
          </li>
          <!-- Fourth row -->    
          <li>
            <a class="sako"></a>
            <p>Sako</p>
          </li>
          <li>
            <a class="sarasqueta"></a>
            <p>Sarasqueta</p>
          </li>
          <li>
            <a class="sauer"></a>
            <p>Sauer</p>
          </li>
          <li class="last">
            <a class="winchester"></a>
            <p>Winchester</p>
          </li>          
        </ul>
        <a href="#" class="message">Consulta otras marcas</a>  
      </div>
      
      <div id="servicios" class="section">
        <label>SERVICIOS</label>
        
      </div>
   </div>
</div>