<!DOCTYPE html>
<html>
<head>
  <title>Taller Armero José Viaji</title>

  <%= stylesheet_link_tag 'fonts/fonts','layout' %>
  <%= javascript_include_tag 'jquery.min','application' %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div id="outer_layout">        
        <div id="layout">
            <%= yield %>
        </div>
    </div>

</body>
</html>
